.produtoContainer {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  flex-direction: column;
  margin-top: 50px;
}

.ttl {
  width: 100%;
}

.ttl h1 {
  font-size: 20px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.produtoContent {
  display: flex;
  gap: 3rem;
  margin-bottom: 4rem;
}

.produtoGaleria {
  flex: 1;
}

.imagemPrincipal img {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  border: 1px solid #eee;
  border-radius: 8px;
  background-color: #b8b8b8;
}

.miniaturas {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.miniaturas img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.miniaturas img.ativo {
  border: 2px solid #cc7223;
}

.produtoDetalhes {
  flex: 1;
}

.produtoDetalhes h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.produtoDescricao h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #555;
}

.produtoDescricao p {
  line-height: 1.6;
  color: #666;
  margin-bottom: 2rem;
}

.produtoPreco {
  font-size: 1.8rem;
  font-weight: bold;
  color: #000;
  margin: 2rem 0;
}

.botaoPedido {
  background-color: #cc7223;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 65px;
  width: 100%;
}

.botaoPedido:hover {
  background-color: #9b4d04;
}

.outrosProdutos h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #333;
  border-top: 1px solid #eee;
  padding-top: 2rem;
}

.loading,
.error {
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
}

.error {
  color: #d9534f;
}
