.navbar-row{
    position: fixed;
    width: 100%;
    height: 10vh;
    background-color: #252321;
    display: flex;
    justify-content: center;
}

.space{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.space .logo{
    display: flex;
    width: 10%;
    justify-content: space-between;
    align-items: center;
}

.space .logo p{
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
}

.space .logo img{
    width: 40px;
}

.space i {
    color: #ffffff;
    font-size: 18px;
}

.navbar-column{
    position: fixed;
    margin-top: 10vh;
    height: 90vh;
    width: 20%;
    background-color: #CC7223;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navlist{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.navlist .link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 8%;
    background-color: #0000002d;
    border-radius: 4px;
    text-transform: uppercase;
    transition: .5s ease-out;
    cursor: pointer;
}

.link p{
    font-weight: 500;
    font-size: 13px;
    color: #ffffff8a;
    transition: .5s ease-out;
}

.link .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    color: #ffffff8a;
    transition: .5s ease-out;
}

.link .NavLink{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navlist .link.active {
    animation: fadeIn 0.3s ease;
    background-color: #0000004d;
    box-shadow: inset 2px 2px 5px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.navlist .link.active p,
.navlist .link.active .icon {
    color: #ffffff;
}
